/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  background-color: #5180a5;
}

.navbar-inverse {
  background-color: #fff;
  border-color: #888;
}

.navbar-inverse .navbar-brand {
  color: #111;
}

.jumbotron h1, .jumbotron .h1 {
  text-align: center;
  color: #fff;
}

i.fa.fa-circle.iconp {
  font-size: small;
  vertical-align: middle;
  color: #fff;
}

.main p {
  color: #555;
}

.main span {
  color: #fff;
}

img.ott-center {
  display: block;
  margin: 0 auto;
}

h2.ott-center {
  text-align: center;
}