{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block jumbotron_content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background-color: {{ page_obj.background_color }};">
    <div class="container">
      <h1>{{ page_obj.title }}</h1>

        {% for reason in reas_to_bel_obj %}
          <p class="main">
            <i class="fa fa-circle iconp" aria-hidden="true"></i>
            <span> {{ reason.text }} </span>
          </p>
        {% endfor %}

        {% if page_obj.title_btn %}
        <p><a class="btn btn-danger btn-lg" href="{{ page_obj.title_btn_url }}" role="button">{{ page_obj.title_btn }}</a></p>
        {% endif %}
  </div>
</div>
{% endblock %}

{% block ott %}
<div class="container marketing ">
 <div class="row">
  <div class="col-lg-4">
    <img class="img-circle ott-center" align="middle" src="/static/images/ott/1.png" alt="Generic placeholder image" width="80" height="80">
    <h2 class="ott-center">Узнайте стоимость</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4">
    <img class="img-circle ott-center" src="/static/images/ott/2.png" alt="Generic placeholder image" width="80" height="80">
    <h2 class="ott-center">Оплатите заказ онлайн</h2>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4">
    <img class="img-circle ott-center" src="/static/images/ott/3.png" alt="Generic placeholder image" width="80" height="80">
    <h2 class="ott-center">Получите доставку</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  </div><!-- /.col-lg-4 -->
 </div>
</div>
{% endblock %}

{% block process %}
  <!-- START THE PROCESS -->
  <div class="container">
    {% for process in process_obj %}
      <hr class="featurette-divider">
      <div class="row featurette">

      {% if forloop.counter|divisibleby:2 %}
        <div class="col-md-7">
      {% else %}
        <div class="col-md-7 col-md-push-5">
      {% endif %}

          <h2 class="featurette-heading">{{ process.title }} <span class="text-muted">{{ process.sub_title }}</span></h2>
          <p>{{ process.content }}</p>
        </div>

      {% if forloop.counter|divisibleby:2 %}
        <div class="col-md-5">
      {% else %}
        <div class="col-md-5 col-md-pull-7">
      {% endif %}

          <img class="featurette-image img-responsive center-block" src="{{ process.img_path }}" alt="{{ process.title }}">
        </div>
      </div>
    {% endfor %}
  </div> <!-- /container -->
  <!-- /END THE FEATURETTES -->
{% endblock %}

{% block content_form_s %}
<div class="container" style="background-color: #5180a5; margin-top: 20px;">

{#    <h3>#}
{#        {% if messages %}#}
{#            <ul class="message-list">#}
{#              {% for message in messages %}#}
{#                <li class="{{ message.tag }}">{{ message }}</li>#}
{#              {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{#    </h3>#}
    <h2 style="text-align: center; color: #fff"><a name="zakaz"></a>Узнать стоимость заказа</h2>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <form class="form" method="POST" action="" enctype="multipart/form-data" style="margin-bottom: 10px; color: #fff;">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-danger btn-lg" type="submit" name="" value="Отправить">
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 20px;">
    {% if messages %}
        {% for message in messages %}
        <h3 class="bg-success text-center" style="padding: 15px;">{{ message }}</h3>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
  <div class="container lead" style="border-top: 1px double grey; margin-top: 15px;">
    <ul class="nav navbar-nav navbar-right">
        <li><a class="mb-20" href="tel:{{ page_obj.phone }}">
          <span class="fa fa-phone fa-lg"></span> {{ page_obj.phone }}</a>
        </li>
        <li><a class="mb-20" href="mailto:{{ page_obj.phone }}">
          <span class="fa fa-envelope-o fa-lg"></span> {{ page_obj.mail }}</a>
        </li>
      </ul>
  </div>
</footer>
{% endblock %}
