{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block jumbotron_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
          {{ page_obj.privacy|safe }}
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
<footer class="footer">
  <div class="container lead" style="border-top: 1px double grey; margin-top: 15px;">
    <ul class="nav navbar-nav navbar-right">
      {% if page_obj.address %}
      <li>
        <a data-toggle="modal" href="Как проехать?" data-target="#myModal">{{ page_obj.address }}</a>
      </li>
      {% endif %}
      <li><a class="mb-20" href="tel:{{ page_obj.phone }}">
        <span class="fa fa-phone fa-lg"></span> {{ page_obj.phone }}</a>
      </li>
      <li><a class="mb-20" href="mailto:{{ page_obj.phone }}">
        <span class="fa fa-envelope-o fa-lg"></span> {{ page_obj.mail }}</a>
      </li>
    </ul>
  </div>
</footer>

    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Как проехать</h4>
      </div>
      <div class="modal-body">
        <p>
          <script type="text/javascript" charset="utf-8"
          src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=JhSToqVZ-GMyWn0h8x3Cg5wzRuJDEKvl&height=450">
          </script>
        </p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
